{% extends "base.html" %} {% block title %}Projects{% endblock %}} {% block
body_content %}

<div
  class="container bg-gradient w-auto border border-3 rounded-3 shadow"
  style="margin-top: 60px; margin-bottom: 60px"
>
  {% if projs == [] %}
  <h1>There are no projects.</h1>
  {% else %}
  <h1 style="text-align: center">Projects</h1>
  <br />
  <table class="table table-hover" style="text-align: center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Project Name</th>
        <th scope="col">Project Description</th>
        <th scope="col">Client</th>
        <th scope="col">Department</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% set i = namespace(value=1) %} {% for proj in projs %}
      <tr>
        <th scope="row">{{ i.value }}</th>
        <td>{{ proj.proj_name }}</td>
        <td>{{ proj.proj_descr }}</td>
        <td>{{ proj.clt.clt_name }}</td>
        <td>{{ proj.dept.dept_name }}</td>
        <td>
          <a href="/project/{{ proj.proj_id }}/update">update</a>/<a
            href="/project/{{ proj.proj_id }}/delete"
            >delete</a
          >
        </td>
      </tr>
      {% set i.value = i.value + 1 %} {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
