{% extends "base.html" %} {% block title %}Update Department{% endblock %} {%
block body_content %}
<div
  class="container w-50 bg-light bg-gradient border border-3 rounded-3"
  style="margin-top: 30px"
>
  <h1>Update Department</h1>
  <br />
  <form
    action="/department/{{ dept_id }}/update"
    method="post"
    name="update_department_form"
  >
    {{ form.csrf_token }}
    <div class="mb-3">
      {{ form.dept_name.label(class="form-label") }}
      <div class="">
        {{ form.dept_name(class="form-control", disabled = True) }}
      </div>
    </div>
    <div class="mb-3">
      {{ form.dept_location.label(class="form-label") }}
      <div class="">{{ form.dept_location(class="form-control") }}</div>
    </div>
    <div class="mb-3">
      {{ form.mgr_emp_id.label(class="form-label") }}
      <div class="">{{ form.mgr_emp_id(class="form-select") }}</div>
    </div>
    <div>
      <input
        class="btn btn-primary"
        id="submit"
        name="submit"
        type="submit"
        value="Update"
      />
    </div>
  </form>
  <br />
  {% if form.errors != {} %}
  <div class="alert alert-danger" role="alert">{{form.errors}}</div>
  {% endif %}
</div>
{% endblock %}
